In [1]:
import numpy as np
import pandas as pd
import math

import random

In [2]:
def _dist(p,q):
    return math.sqrt(np.power(p-q,2).sum())

In [3]:
data = np.random.randint(low=0, high=6, size=(2,20))

In [4]:
data

array([[2, 2, 4, 2, 3, 4, 0, 0, 1, 0, 5, 5, 2, 1, 5, 1, 2, 3, 1, 0],
       [2, 3, 5, 0, 4, 0, 2, 3, 1, 2, 5, 2, 3, 5, 4, 1, 4, 3, 0, 5]])

In [5]:
d2 = data.T

In [6]:
# accessing single data point
data[:,1]

array([2, 3])

In [7]:
# Task Starts Here

In [8]:
df = pd.DataFrame(d2, columns = ['Column_A','Column_B'])
df

    Column_A  Column_B
0          2         2
1          2         3
2          4         5
3          2         0
4          3         4
5          4         0
6          0         2
7          0         3
8          1         1
9          0         2
10         5         5
11         5         2
12         2         3
13         1         5
14         5         4
15         1         1
16         2         4
17         3         3
18         1         0
19         0         5

In [9]:
df['cluster'] = 0

In [10]:
df

    Column_A  Column_B  cluster
0          2         2        0
1          2         3        0
2          4         5        0
3          2         0        0
4          3         4        0
5          4         0        0
6          0         2        0
7          0         3        0
8          1         1        0
9          0         2        0
10         5         5        0
11         5         2        0
12         2         3        0
13         1         5        0
14         5         4        0
15         1         1        0
16         2         4        0
17         3         3        0
18         1         0        0
19         0         5        0

In [11]:
col = len(df.columns) - 1

In [12]:
def euclideanDistance(a,b,col):
    t = 0
    for i in range(col):
        t += (b[i] - a[i])**2
    
    d = np.sqrt(t)
    return d

In [13]:
def distList(dp):
    distance = []
    for i in range(len(df)):
        ctr = 0
        dp1 = df.iloc[i,0:2]    
        distance.append(euclideanDistance(dp,dp1,col))
    return distance

In [14]:
def getNeighbors(row,epsilon):
    datapoint = df.iloc[row,:]
    dist = distList(datapoint)
    distances = list(zip(range(len(df)),dist))
    filtered = [ i for i in range(len(df)) if distances[i][1] <= epsilon and distances[i][1] != 0 ]
    
    return filtered

In [15]:
# def dbscan(data, eps, min_points):
    # Data is the 2D array as shown above eps =5 min_points=4
    # initiliaze the cluster id = 1
    # Define a boolean array named classification = size of the data i.e 20
    #for point in data:
    #  if point is unclassified:
    #    find whether the point is a core point,border point or noise
    #    if point is noise set hte classification Array value=NOISE

In [16]:
epsilon = 1
minPts = 4

In [17]:
corePts = []
outlier = []

border = []

numCluster = 0

rows = []

In [18]:
rows = random.sample(range(len(df)), len(df))

In [19]:
def dbscan(eps, minPts):
    clusterQue = []
    cluster = 0

    while len(rows) > 0:
        row = rows.pop(0)

    #     print(row)

        filtered = getNeighbors(row,eps)

        # Pass the core test
        if (len(filtered)+1) >= minPts:

            cluster += 1

            corePts.append(row)  

            df['cluster'][row] = cluster        

            clusterQue.extend(filtered)
            clusterQue = [pt for pt in clusterQue if pt not in corePts]
            clusterQue = [pt for pt in clusterQue if pt not in border]
            clusterQue = list(set(clusterQue))

            while len(clusterQue) > 0:
                row = clusterQue.pop()
                filtered = getNeighbors(row,eps)

                df['cluster'][row] = cluster            

                # Pass the core test
                if (len(filtered)+1) >= minPts:                

                    corePts.append(row)
                    rows.remove(row)

                    clusterQue.extend(filtered)
                    clusterQue = [pt for pt in clusterQue if pt not in corePts]
                    clusterQue = [pt for pt in clusterQue if pt not in border]
                    clusterQue = list(set(clusterQue))

                # Fail the core test
                else:
                    border.append(row)   

        # Fail the core test
        else:
            outlier.append(row)    
            outlier = [pt for pt in outlier if pt not in border]

    numCluster = cluster

In [20]:
clusterQue = []
cluster = 0

while len(rows) > 0:
    row = rows.pop(0)
    
#     print(row)
    
    filtered = getNeighbors(row,epsilon)

    # Pass the core test
    if (len(filtered)+1) >= minPts:
        
        cluster += 1
        
        corePts.append(row)  
        
        df['cluster'][row] = cluster        

        clusterQue.extend(filtered)
        clusterQue = [pt for pt in clusterQue if pt not in corePts]
        clusterQue = [pt for pt in clusterQue if pt not in border]
        clusterQue = list(set(clusterQue))

        while len(clusterQue) > 0:
            row = clusterQue.pop()
            filtered = getNeighbors(row,epsilon)
            
            df['cluster'][row] = cluster            

            # Pass the core test
            if (len(filtered)+1) >= minPts:                
                
                corePts.append(row)
                rows.remove(row)
                
                clusterQue.extend(filtered)
                clusterQue = [pt for pt in clusterQue if pt not in corePts]
                clusterQue = [pt for pt in clusterQue if pt not in border]
                clusterQue = list(set(clusterQue))

            # Fail the core test
            else:
                border.append(row)   

    # Fail the core test
    else:
        outlier.append(row)    
        outlier = [pt for pt in outlier if pt not in border]
        
numCluster = cluster

C:\Users\SOBOTE~1\AppData\Local\Temp/ipykernel_14104/642522214.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][row] = cluster
C:\Users\SOBOTE~1\AppData\Local\Temp/ipykernel_14104/642522214.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][row] = cluster

In [21]:
# dbscan(epsilon,minPts)

In [22]:
numCluster

2

In [23]:
# corePts
len(corePts)

5

In [24]:
# outlier
len(outlier)

10

In [25]:
# border
len(border)

5

In [26]:
df

    Column_A  Column_B  cluster
0          2         2        2
1          2         3        2
2          4         5        0
3          2         0        1
4          3         4        2
5          4         0        0
6          0         2        0
7          0         3        0
8          1         1        1
9          0         2        0
10         5         5        0
11         5         2        0
12         2         3        2
13         1         5        0
14         5         4        0
15         1         1        1
16         2         4        2
17         3         3        2
18         1         0        1
19         0         5        0